@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Anton&family=Arvo:wght@700&family=Barlow+Condensed&family=Bebas+Neue&family=Black+Ops+One&family=Indie+Flower&family=Merriweather:wght@900&family=Metal+Mania&family=PT+Mono&family=Pacifico&family=Roboto:wght@300;400&family=Space+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 90vh;
    margin-top: 10px;
}

h1{
    text-align: center;
    margin: 5px;
    font-size: 3rem;
    color: #333;
}

button{
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    font-size: 1rem;
}

button:hover{
    background-color: #2980b9;
}


.ayahCard{
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.699);
    margin-top: 30px;
    max-width: 700px;
    width: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 35px;
    display: none;
    transition: all 0.3s ease-in-out;
}

.ayahDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.ayahText{
    font-size: 2.5rem;
    font-family: "Amiri Quran", serif;
}
.ayahNo{
    font-size: 1.5rem;
    color: #3498db;
}

.ayahCard.active{
    display: flex;
}

.suraContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.playButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    align-self: flex-start;
}

.firstPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}
.secondPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    display: none;
}

.buttonsOfSecondPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

.suraCont{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

input{
    padding: 10px 20px;
    border: solid 1px #3498db;
    outline: none;
    border-radius: 10px;
    margin: 10px;
    font-size: 1rem;
}

.suraInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    width: 100%;
    align-self: center;
}
.suraNum-reve{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.suraList{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}