@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arvo:wght@700&family=Barlow+Condensed&family=Bebas+Neue&family=Black+Ops+One&family=Indie+Flower&family=Merriweather:wght@900&family=Metal+Mania&family=PT+Mono&family=Pacifico&family=Roboto:wght@300;400&family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Mono', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 850px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.727);
}

.quote{
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

#author{
    font-size: 1.2rem;
    font-weight: bold;
    align-self: flex-end;
}

#new-quote{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#new-quote:hover{
    background-color: #0056b3;
}
